body#tag-cotacoes #col-centro-full *, body#tag-cotacoes.home, body#tag-cotacoes.bolsas-principal {
	margin:0;
	padding:0;
	list-style-type:none;
	border-collapse:collapse
}
body#tag-cotacoes #col-centro-full object, body#tag-cotacoes #col-centro-full param {outline:0;border:0}
body#tag-cotacoes #col-centro-full {width:59.6em;padding-left:1.2em;font-family:Arial, Verdana, Helvetica, sans-serif}

body#tag-cotacoes.home #col-centro-full, body#tag-cotacoes.bolsas-principal #col-centro-full {padding:0;margin:0}

body#tag-cotacoes #col-centro-full a:link, body#tag-cotacoes #col-centro-full a:visited {text-decoration:underline}
body#tag-cotacoes #col-centro-full a:hover {text-decoration:none}

body#tag-cotacoes #col-centro-full .clear-box:after {content:".";display:block;visibility:hidden;height:0;clear:both}
* html body#tag-cotacoes #col-centro-full .clear-box,
*+html body#tag-cotacoes #col-centro-full .clear-box,
* html body#tag-cotacoes #col-centro-full .box-conteudo,
*+html body#tag-cotacoes #col-centro-full .box-conteudo {zoom:1}

body#tag-cotacoes #col-centro-full .clear {clear:both}

body#tag-cotacoes #col-centro-full .ct {text-align:center}

* html body#tag-cotacoes #col-centro-full #flashContainer {width:574px;height:252px;overflow:hidden}
body#tag-cotacoes #col-centro-full #flashId {margin-bottom:10px}

body#tag-cotacoes #col-centro-full abbr {cursor:help;border-bottom:1px dotted black}

body#tag-cotacoes #col-centro-full form#frm-busca-ativos {
	background-color:#E9E8E3;
	border:1px solid #DEDDD9;
	padding:15px 10px;
	display:block;
	margin-bottom:10px;
	z-index:10
}
body#tag-cotacoes #col-centro-full form#frm-busca-ativos label {
	color:#8C8B86;
	font-size:1.2em;
	font-weight:bold
}
body#tag-cotacoes #col-centro-full form#frm-busca-ativos input, body#tag-cotacoes #col-centro-full #cpoBusca {
	width:290px;
	padding:2px 0;
	border:1px solid #DDDCD8
}
body#tag-cotacoes #col-centro-full #cpoBusca {width:auto}
body#tag-cotacoes #col-centro-full button, body#tag-cotacoes #col-centro-full a.fake_button:link, body#tag-cotacoes #col-centro-full a.fake_button:visited, body#tag-cotacoes #col-centro-full a.fake_button:hover {
	border:1px outset #22A4BA;
	background-color: #22A4BA;
	color:#FFF;
	padding:2px 5px;
	/*width:80px;
	height:20px;*/
	font-size:10px;
	margin-left:5px;
	text-transform:uppercase;
	text-decoration: none;
}
body#tag-cotacoes #col-centro-full #resultado-busca button,
body#tag-cotacoes #col-centro-full #frm-busca-ativos button {width:80px;height:20px;padding:0}
body#tag-cotacoes #col-centro-full h1 {
	color:#8A8A88;
	font-size:16px;
	text-transform:uppercase;
	margin-bottom:10px;
	background:none;
	height:auto;
}

body#tag-cotacoes #col-centro-full .box-conteudo {
	background-color:#E9E8E3;
	border:1px solid #DEDDD9;
	font-size:11px;
	padding:10px;
	width:574px;
}
body#tag-cotacoes #col-centro-full #resultado-busca {
	border-top:1px solid #8c8b56;
	border-bottom:1px solid #8c8b56;
	padding:5px 0 10px;
	clear:both
}
body#tag-cotacoes #col-centro-full .sem-dados #resultado-busca {border:none}
body#tag-cotacoes #col-centro-full .busca-por {
	float:left;
	color:#71706C;
	font-size:13px !important;
	font-weight:normal !important;
	text-transform:none;
	margin-bottom:10px
}
body#tag-cotacoes #col-centro-full .busca-por strong {color:#676664}

body#tag-cotacoes #col-centro-full.busca h2 {
	color:#8C8D88;
	font-size:13px;
	margin-bottom:10px;
	text-transform:uppercase
}

body#tag-cotacoes #col-centro-full.busca .resultado-zero p,
body#tag-cotacoes #col-centro-full.busca .sem-dados p {
	margin:5px 0
}

body#tag-cotacoes #col-centro-full .resultados-encontrados {
	float:right;
	color:#71706C;
	font-size:13px;
	margin-bottom:10px
}
body#tag-cotacoes #col-centro-full .resultados-encontrados strong {color:#676664}

body#tag-cotacoes #col-centro-full #resultado-busca table {
	width:100%;
}
body#tag-cotacoes #col-centro-full #resultado-busca table thead th {
	height:25px;
	line-height:25px;
	color:#696864;
	text-align:left;
	text-indent:10px;
}
body#tag-cotacoes #col-centro-full #resultado-busca table tr.odd td {
	border-bottom:1px solid #D4D3CE;
	background-color:#DFDCD5
}
body#tag-cotacoes #col-centro-full #resultado-busca table td {
	text-indent:10px;
	padding:2px 0;
	font-size:1.1em;
}
body#tag-cotacoes #col-centro-full #resultado-busca .acoes-a-z li {
	height:15px;
	line-height:15px
}
body#tag-cotacoes #col-centro-full #resultado-busca li.primeiro {
	height:25px;
	line-height:25px;
	color:#696864
}
body#tag-cotacoes #col-centro-full #resultado-busca li.odd {
	border-bottom:1px solid #D4D3CE;
	background-color:#DFDCD5
}

body#tag-cotacoes #col-centro-full .resultado-zero #resultado-busca .outras-infos li,
body#tag-cotacoes #col-centro-full .sem-dados #resultado-busca .outras-infos li {
	float:left;
	margin-right:50px;
	text-indent:10px;
	background:url(/stc/i/seta_abas.gif) 0 60% no-repeat
}

body#tag-cotacoes #col-centro-full #resultado-busca li.clear-box span {
	float:left;
	width:280px;
	font-size:1.1em;
	text-indent:10px
}

body#tag-cotacoes #col-centro-full ul.paginacao {
	padding-top:10px
}
body#tag-cotacoes #col-centro-full ul.paginacao li {
	float:left;
	margin-right:3px;
	font-weight:bold
}
	body#tag-cotacoes #col-centro-full ul.paginacao li a:link, body#tag-cotacoes #col-centro-full ul.paginacao li a:visited {text-decoration:none}
	body#tag-cotacoes #col-centro-full ul.paginacao li a:hover {background-color:#EDA63A}
	body#tag-cotacoes #col-centro-full ul.paginacao li a {
		font-weight:normal;
		padding:0 3px
	}
		body#tag-cotacoes #col-centro-full ul.paginacao li strong a {font-weight:bold}


body#tag-cotacoes #col-centro-full p.data {
	float:left;
	font-weight:bold;
	margin-bottom:10px;
	color:#8F8E89
}
body#tag-cotacoes #col-centro-full p.last-update {
	float:right;
	font-weight:bold;
	margin-bottom:10px;
	color:#ECA622
}

body#tag-cotacoes #col-centro-full #infoTable {clear:both}
	body#tag-cotacoes #col-centro-full #infoTable h3 {
		font:bold 13px Arial, Helvetica, sans-serif;
		color:#908F8A;
		margin-bottom:15px;
		float:left
	}
	body#tag-cotacoes #col-centro-full #infoTable .infoTime {
		float:right;
		font-size:11px;
		font-weight:bold;
		color:#E8A729
	}
	body#tag-cotacoes #col-centro-full #infoTable span {
		color:#666666;
		font-size:10px;
		padding-left:0;
		float:left;
		margin-top:23px
	}
	
	body#tag-cotacoes #col-centro-full #infoTable dl {
		color:#656462;
		clear:both
	}
		body#tag-cotacoes #col-centro-full #infoTable dt {
			float:left;
			border-left:1px solid #656462;
			padding-left:5px;
			margin-right:3px
		}
		body#tag-cotacoes #col-centro-full #infoTable dt.primeiro {border:none;padding:0}
		body#tag-cotacoes #col-centro-full #infoTable dd {
			float:left;
			margin-right:5px;
			margin-bottom:10px;
			font-weight:bold
		}
	
	body#tag-cotacoes #col-centro-full #infoTable table {
		clear: both;
		width:100%;
		margin-bottom:10px
	}
		body#tag-cotacoes #col-centro-full #infoTable table,
		body#tag-cotacoes #col-centro-full #infoTable td,
		body#tag-cotacoes #col-centro-full #infoTable th {
			border:1px solid #DFDCD5;
			font-size:11px;
		}
		body#tag-cotacoes #col-centro-full #infoTable th {
			background-color:#DFDCD5;
			height:17px;
			line-height:17px
		}
		body#tag-cotacoes #col-centro-full #infoTable tbody th,
		body#tag-cotacoes #col-centro-full #infoTable td {
			background:#FFF;
			color:#000;
			text-align:center
		}
		body#tag-cotacoes #col-centro-full #infoTable table span {background-repeat:no-repeat;font-weight:normal;float:none;margin:0;font-size:11px}
		body#tag-cotacoes #col-centro-full #infoTable table span.tick, body#tag-cotacoes #col-centro-full #infoTable tbody th {width:20px;text-indent:0}
		body#tag-cotacoes #col-centro-full #infoTable table span.tick {display:block;text-indent:-5000px;overflow:hidden;height:11px;background-position:center top}
		body#tag-cotacoes #col-centro-full #infoTable tr.baixa span, body#tag-cotacoes #col-centro-full #infoTable th.baixa span {background-image:url(/stc/i/seta_baixa.gif)}
		body#tag-cotacoes #col-centro-full #infoTable tr.alta span, body#tag-cotacoes #col-centro-full #infoTable th.alta span {background-image:url(/stc/i/seta_alta.gif)}
		body#tag-cotacoes #col-centro-full #infoTable tr.estável span, body#tag-cotacoes #col-centro-full #infoTable th.estável span,
		body#tag-cotacoes #col-centro-full #infoTable tr.estavel span, body#tag-cotacoes #col-centro-full #infoTable th.estavel span {background-image:url(/stc/i/seta_estavel.gif)}
		
		body#tag-cotacoes #col-centro-full #infoTable tr.alta td.ultima, body#tag-cotacoes #col-centro-full #infoTable tr.alta span, body#tag-cotacoes #col-centro-full #infoTable th.alta span {color:#10AD00}
		body#tag-cotacoes #col-centro-full #infoTable tr.baixa td.ultima, body#tag-cotacoes #col-centro-full #infoTable tr.baixa span, body#tag-cotacoes #col-centro-full #infoTable th.baixa span {color:#FE0200}
		body#tag-cotacoes #col-centro-full #infoTable tr.estável td.ultima, body#tag-cotacoes #col-centro-full #infoTable tr.estável span, body#tag-cotacoes #col-centro-full #infoTable th.estável span,
		body#tag-cotacoes #col-centro-full #infoTable tr.estavel td.ultima, body#tag-cotacoes #col-centro-full #infoTable tr.estavel span, body#tag-cotacoes #col-centro-full #infoTable th.estavel span {color:gray}
		
		body#tag-cotacoes #col-centro-full.home #infoTable tbody td, body#tag-cotacoes #col-centro-full.home #infoTable tbody th {width:50%}
			body#tag-cotacoes #col-centro-full.home #infoTable table span {padding-left:15px;background-position:0 50%}
		
		body.iframe-cotacoes {
			margin:0;
			padding:0;
			background-color:#E9E8E3
		}
			body.iframe-cotacoes div#col-centro-full {padding:0 !important}
		body#tag-cotacoes #col-centro-full #infoTable iframe#iframeIndices {
			border:none;
			width:300px;
			height:37px;
			margin-top:-1px;
			position:relative;
			float:left
		}

body#tag-cotacoes #col-centro-full.cotacoes-intraday .atalhos,
body#tag-cotacoes #col-centro-full.cotacoes-historicas .atalhos {
	color:#63625D;
	margin-bottom:5px
}

body#tag-cotacoes #col-centro-full #interdayForm {
	background-color:#DFDCD5;
	display:block;
	padding:10px;
	margin-bottom:10px
}
* html body#tag-cotacoes #col-centro-full #interdayForm {zoom:1}
	body#tag-cotacoes #col-centro-full #interdayForm p {
		color:#63625D;
		margin-bottom:5px
	}
	body#tag-cotacoes #col-centro-full #interdayForm fieldset {
		border:none;
		float:left;
		margin:0;
		color:#63625D
	}
	body#tag-cotacoes #col-centro-full #interdayForm #de {margin-right:20px}
	body#tag-cotacoes #col-centro-full #interdayForm #ate {margin-right:10px}
	* html body#tag-cotacoes #col-centro-full #interdayForm #ate {margin-right:0}
		body#tag-cotacoes #col-centro-full #interdayForm legend, body#tag-cotacoes #col-centro-full #interdayForm label {display:none}
		body#tag-cotacoes #col-centro-full #interdayForm select {border:1px solid #8B8A86}
		body#tag-cotacoes #col-centro-full #interdayForm #beginDay, body#tag-cotacoes #col-centro-full #interdayForm #endDay {width:50px}
		body#tag-cotacoes #col-centro-full #interdayForm #beginMonth, body#tag-cotacoes #col-centro-full #interdayForm #endMonth {width:100px}
		body#tag-cotacoes #col-centro-full #interdayForm #beginYear, body#tag-cotacoes #col-centro-full #interdayForm #endYear {width:60px}
		body#tag-cotacoes #col-centro-full #interdayForm button {width:35px;height:20px;padding:0}
		* html body#tag-cotacoes #col-centro-full #interdayForm button {width:30px}

	body#tag-cotacoes #col-centro-full p.clear.periodo {padding:10px 0 5px}
	body#tag-cotacoes #col-centro-full .tblCotacoes {
		width:100%;
		border-bottom:1px solid #8C8B86
	}
		body#tag-cotacoes #col-centro-full .tblCotacoes thead th {
			height:25px;
			line-height:25px;
			color:#63625E;
			border-bottom:1px solid #8F8E89
		}
		body#tag-cotacoes #col-centro-full .tblCotacoes td {text-align:center}
		body#tag-cotacoes #col-centro-full .tblCotacoes tr.odd td {
			border-bottom:1px solid #D4D3CE;
			background-color:#DFDCD5
		}



body#tag-cotacoes #col-centro-full .autoCompleteList {
	border:1px solid #DADAD8;
	width:400px;
	padding:10px;
	color:#000;
	background-color:#FFF;
	font:13px Arial, Helvetica, sans-serif
}
	body#tag-cotacoes #col-centro-full .autoCompleteList li:after {content:".";display:block;clear:both;visibility:hidden;height:0}
	* html body#tag-cotacoes #col-centro-full .autoCompleteList li, *+html body#tag-cotacoes #col-centro-full .autoCompleteList li {zoom:1}
	
	body#tag-cotacoes #col-centro-full .autoCompleteList li {margin-bottom:5px}
	body#tag-cotacoes #col-centro-full .autoCompleteList li.ativo {background-color:#CCC}
		body#tag-cotacoes #col-centro-full .autoCompleteList span {float:left;cursor:default}
		body#tag-cotacoes #col-centro-full .autoCompleteList .code {width:100px}
			body#tag-cotacoes #col-centro-full .autoCompleteList li strong {color:#2ca2b0}
	body#tag-cotacoes #col-centro-full .autoCompleteList a {clear:both}

body#tag-cotacoes #col-centro-full span.credit {
	font:9px Verdana, Arial, sans-serif;
	color:#656462;
	display:block;
	text-align:right;
	padding:3px 0;
}
body#tag-cotacoes #col-centro-full.bolsas-principal span.credit, body#tag-cotacoes #col-centro-full.home span.credit {float:right}


/* Abas */
* html body#tag-cotacoes #col-centro-full .abas, *+html body#tag-cotacoes #col-centro-full .abas {zoom: 1}
body#tag-cotacoes #col-centro-full .abas {margin-bottom: -1px;position:relative;z-index:5}
	body#tag-cotacoes #col-centro-full .abas li { float: left; width: 144px; height: 20px; padding: 0px; margin-right: 6px;}
		body#tag-cotacoes #col-centro-full .abas li a { display: block; text-transform: uppercase; width: 144px; height: 16px; padding-top: 4px; text-align: center; float: left; color: #fff;  background-image: url(/stc/i/aba.gif);text-align: center}
		body#tag-cotacoes #col-centro-full .abas li a,
		body#tag-cotacoes #col-centro-full .abas li a:link,
		body#tag-cotacoes #col-centro-full .abas li a:visited,
		body#tag-cotacoes #col-centro-full .abas li a:active { text-decoration: none; }
		body#tag-cotacoes #col-centro-full .abas li a:hover { text-decoration: underline; }
		body#tag-cotacoes #col-centro-full .abas li a:hover,
		body#tag-cotacoes #col-centro-full .abas li a.atual { color:#696864; font-weight: bold;  background-image: url(/stc/i/aba_atual.gif); }
	body#tag-cotacoes #col-centro-full .abas li.last {margin: 0px;float: right}
	body#tag-cotacoes #col-centro-full .abas li.last.maisAcoes {text-align:right;line-height: 20px}
		body#tag-cotacoes #col-centro-full .abas li.last.maisAcoes a:link,
		body#tag-cotacoes #col-centro-full .abas li.last.maisAcoes a:visited,
		body#tag-cotacoes #col-centro-full .abas li.last.maisAcoes a:hover {
			display:inline;
			text-transform:none;
			padding:0 3px 0 7px;
			text-align:right;
			float:none;
			color:#8B8B8B;
			background: url(/stc/i/seta_abas.gif) left 60% no-repeat;
			font-weight:bold
		}
/* Abas */	

body#tag-cotacoes #col-centro-full div.msg-mini div {
	font:11px arial, sans-serif;
	color:#000;
	padding-left:30px;
	padding-top:1px
}
	body#tag-cotacoes #col-centro-full div.msg-mini p {margin:5px 0}
body#tag-cotacoes #col-centro-full div.msg-mini .alerta {
	background:url(/stc/i/msg/mini/alerta.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-mini .erro {
	background:url(/stc/i/msg/mini/erro.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-mini .espera {
	background:url(/stc/i/msg/mini/espera.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-mini .info {
	background:url(/stc/i/msg/mini/info.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-mini .sucesso {
	background:url(/stc/i/msg/mini/sucesso.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-mini .dica {
	background:url(/stc/i/msg/mini/dica.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-med div {
	font:bold 12px arial, sans-serif;
	color:#000;
	padding-left:40px;
	height:35px;
	padding-top:1px
}
body#tag-cotacoes #col-centro-full .sem-dados div.msg-med div {margin:10px 0}
	body#tag-cotacoes #col-centro-full div.msg-med p {margin:5px 0}
body#tag-cotacoes #col-centro-full div.msg-med .alerta {
	background:#FFFCED url(/stc/i/msg/med/alerta.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-med .erro {
	background:#FCF2F1 url(/stc/i/msg/med/erro.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-med .espera {
	background:#F7F7F7 url(/stc/i/msg/med/espera.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-med .info {
	background:#F2F6F9 url(/stc/i/msg/med/info.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-med .sucesso {
	background:#F3F8F2 url(/stc/i/msg/med/sucesso.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-med .dica {
	background:#FFFEE9 url(/stc/i/msg/med/dica.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-gde div {
	font:bold 16px arial, sans-serif;
	color:#000;
	padding-left:55px;
	height:70px;
	padding-top:1px
}
	body#tag-cotacoes #col-centro-full div.msg-gde p {margin:10px 0}
body#tag-cotacoes #col-centro-full div.msg-gde .alerta {
	background:#FFFCED url(/stc/i/msg/gde/alerta.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-gde .erro {
	background:#FCF2F1 url(/stc/i/msg/gde/erro.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-gde .espera {
	background:#F7F7F7 url(/stc/i/msg/gde/espera.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-gde .info {
	background:#F2F6F9 url(/stc/i/msg/gde/info.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-gde .sucesso {
	background:#F3F8F2 url(/stc/i/msg/gde/sucesso.gif) 7px 5px no-repeat;
}
body#tag-cotacoes #col-centro-full div.msg-gde .dica {
	background:#FFFEE9 url(/stc/i/msg/gde/dica.gif) 7px 5px no-repeat;
}

/* Lista ativos A-Z */
body#tag-cotacoes #col-centro-full  .listaAZ { background-color:#DFDCD5; padding-left: 6px;}
	body#tag-cotacoes #col-centro-full  .listaAZ li { padding: 3px 0px; font-size: 1.1em; float: left; margin: 0px 4px; color: #E9E8E3; }
		body#tag-cotacoes #col-centro-full  .listaAZ li a { padding: 3px 2px; font-weight: bold; color: #696864;  text-decoration: none !important; }
		body#tag-cotacoes #col-centro-full  .listaAZ li a:hover,
		body#tag-cotacoes #col-centro-full  .listaAZ li a.atual {  background-color: #dda83e; }

/* Lista ativos A-Z */

/* Principal */
body#tag-cotacoes #col-centro-full.home h1 {	color:#8A8A88; font-size:13px; text-transform:uppercase; margin-bottom:10px; }
	/*body#tag-cotacoes #col-centro-full.home #infoTable { width: 500px }*/
	body#tag-cotacoes #col-centro-full.home #infoTable table { width: 150px }
		body#tag-cotacoes #col-centro-full.home  #infoTable th { text-transform: uppercase; color:#8A8A88; }

	body#tag-cotacoes #col-centro-full.home #bolsas_no_mundo .outras_bolsas {  text-indent: -1000px; overflow: hidden; background-image: url(/stc/i/outras_bolsas.gif); width: 121px; height: 21px; float:right;margin-right:-11px;margin-top:-11px}
	body#tag-cotacoes #col-centro-full.home #bolsas_no_mundo h3 {margin:5px 0 15px}

body#tag-cotacoes #col-centro-full.home #infoTable table.indicesExteriores { width: 280px }
body#tag-cotacoes #col-centro-full.home #infoTable table.indicesExteriores thead th {padding:0 10px}
body#tag-cotacoes #col-centro-full.home #infoTable table.indicesExteriores tbody th { width: auto }


/* Principal */